[submodule "emacs/.emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "clojure"]
	path = clojure
	url = git@github.com:practicalli/clojure-deps-edn.git
[submodule "clojure-sc"]
	path = clojure-sc
	url = git@github.com:seancorfield/dot-clojure.git
